.menu {
    
    background: #cd3e3d;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5em;
    cursor: pointer;
    border: 0.4em solid #fdaead;
    
  }
  .menu:after {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
    height: 0.2em;
    /* border-top: 0.6em double #fff;
    border-bottom: 0.2em solid #fff; */
    
  }
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    width: 5.5em;
    height: 1.4em;
    /* padding: 0.2em; */
    padding-bottom: 2em;
    text-align: center;
    
    transition: all 1s;
    background: #fdaead;
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  }
  /**
   * Add a pseudo element to cover the space
   * between the links. This is so the menu
   * does not lose :hover focus and disappear
   */
  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: -4.5em;
    top: -3.4em;
    /**
     * The pseudo-element is a semi-circle
     * created with CSS. Top, bottom, and right
     * borders are 6.5em (left being 0), and then
     * a border-radius is added to the two corners
     * on the right.
     */
    border-width:  5em;
    border-radius:  7.5em 7.5em 0 0;
    border-bottom: 0;
    border-style: solid;
    /**
     * Have to have a border color for the border
     * to be hoverable. I'm using a very light one
     * so that it looks invisible.
     */
    border-color: rgba(0,0,0,0.03);
    /**
     * Put the psuedo-element behind the links
     * (So they can be clicked on)
     */
    z-index: -1;
    /**
     * Make the cursor default so it looks like
     * nothing is there
     */
    cursor: default;
  }
  .menu button{
      background: none;
      border: none;
      
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
  }
  .menu li:hover {
    background: #cd3e3d;
    z-index: 10;
  }
  
  .menu li:nth-of-type(1) {
    transform: rotate();
    position: absolute;
     left: 1.7em;
    top:0.7em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em; 
  }
  .menu li:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
     left: 0.8em;
    top:-2em ;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em; 
  }
   .menu li:nth-of-type(3) {
      transform: rotate(-90deg);
    position: absolute;
     left: -2.2em;
    top: -3.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em; 
  }
  .menu li:nth-of-type(4) {
    transform: rotate(-315deg);
    position: absolute;
     left: -5.4em;
    top: -2em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
  .menu li:nth-of-type(5) {
    transform: rotate(-360deg);
    position: absolute;
     left: -6.6em;
    top: 0.7em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em; 
  }
 